<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Smoke Tests">

    <test name="Cleanup">
        <groups>
            <run>
                <include name="cleanup"/>
            </run>
        </groups>
        <packages>
            <package name="com.example.cleanup"/>
        </packages>
    </test>

    <test name="Groups Smoke">
        <groups>
            <run>
                <include name="groups_testing"/>
                <exclude name="contacts_testing"/>
            </run>
        </groups>
        <packages>
            <package name="com.example.tests"/>
        </packages>
    </test>

    <test name="Contacts Smoke">
        <groups>
            <run>
                <include name="contacts_testing"/>
                <exclude name="groups_testing"/>
            </run>
        </groups>
        <packages>
            <package name="com.example.tests"/>
        </packages>
    </test>


</suite>